@charset "utf-8";

body{
    font-family: 'Oswald', sans-serif;
    color: darkslategray;
}

.my-class {
    border: dotted darkslategray;
	border-top-right-radius: 5px; 
	text-align: center
}

h3 {
	font-size: 13px;
}

.my-container {
    text-align: justify;
    border: thin solid #ACA6FF;
    border-radius: 5px;
    background-color: #C8C4FF;
}