@charset "utf-8";

.my-class {
    color: darkslategray;
    border: dotted darkslategray;
    border-top-right-radius: 5px;
    border-spacing: 5px 550px;
	position: center;
}


h3 {
	font-size: 15px;
}

body {
    background-image: url(../../../../../../../../../OneDrive/Documenten/GitHub/AmberMeeusen/seafoam.jpg);
    background-size: cover;
}

.lorem-ipsum {
    text-align: justify;
    border: thin solid #C8C4FF;
    border-radius: 5px;
    border-spacing: 25px 25px;
    background-color: #C8C4FF;
	position: relative;
  	top: 20px;
  	left: 50px;
}
